/* *********************** */
/* HEADER  */
/* *********************** */
header {
  background-color: #0b1a2a;
  /* height: 100vh; */
}

.nav-header {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #f1eee9; */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.nav-header .logo-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #cca772;
  cursor: pointer;
}

.nav-header .main-nav ul {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.nav-header .main-nav ul li a:link,
.nav-header .main-nav ul li a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  color: #f1eee9;
  cursor: pointer;
}

.nav-header .main-nav ul li a:hover,
.nav-header .main-nav ul li a:active {
  color: #cca772;
  transition: all 0.3s;
}

.nav-header .sign-up-btn {
  display: inline-block;
  background-color: #cca772;
  color: #f1eee9;
  padding: 1rem 3.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav-header .sign-up-btn:hover {
  background-color: #f1eee9;
  color: #cca772;
  transform: scaleX(1.1);
}

/* .nav-header .sign-up-btn a:link,
.nav-header .sign-up-btn a:visited {
  text-decoration: none;
  color: #f1eee9;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.nav-header .sign-up-btn a:hover,
.nav-header .sign-up-btn a:active {
  background-color: #eb984e;
} */

/* *********************** */
/* HERO SECTION  */
/* *********************** */

.hero-section {
  background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.3)), url("/img/services/service6.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  position: relative;
}

.hero-section .hero-text {
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: #cca772;
}

.hero-section .lux-text {
  color: #0b1a2a;
}

.hero-section .search-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 5rem;
}

.hero-section .search-container .hero-input {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.hero-section .search-container input::placeholder {
  color: #aaa;
  letter-spacing: 1.8;
  font-size: 2.4rem;
}

.hero-section .search-container .search-icon {
  font-size: 4.8rem;
  background-color: #0b1a2a;
  color: #cca772;
  cursor: pointer;
  height: 100%;
}

/* *********************** */
/* SERVICE SECTION  */
/* *********************** */
.service-section {
  /* padding: 9.6rem 0; */
  padding: 4.8rem 0;
  background-color: #fff;
}

.service-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.service-container .step-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.service-container .step-img-box img {
  max-width: 40rem;
  max-height: 40rem;
  width: 100%;
  height: 100%;
}

/* *********************** */
/* WELCOME SECTION  */
/* *********************** */
.welcome-section {
  /* padding: 9.6rem 0; */
  padding: 4.8rem 0;
  background-color: #0b1a2a;
}

.welcome-container {
  display: flex;
  gap: 3.2rem;
  padding: 4.8rem 0;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.img-grid img {
  width: 30rem;
  height: 30rem;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.welcome-content h3 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #cca772;
}

.welcome-content p {
  color: #f1eee9;
}

.welcome-content a:link,
.welcome-content a:visited {
  display: inline-block;
  background-color: #cca772;
  color: #f1eee9;
  margin-top: 2.4rem;
  padding: 1rem 3.2rem;
  width: 50%;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.welcome-content a:hover,
.welcome-content a:active {
  background-color: #f1eee9;
  color: #cca772;
  transform: scaleX(1.1);
}

/* *********************** */
/* TESTIMONIALS SECTION  */
/* *********************** */
.testimonial-section {
  background-color: #0b1a2a;
}

.testimonial-container {
  padding: 4.8rem 0;
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

.testimonial-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.testimonial-carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  box-shadow: 0 1rem 3rem 0 rgba(153, 153, 153, 0.2);
  margin-bottom: 4.8rem;
}

.testi-whole {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 9px;
}

.body-1 {
  grid-column: 1 / span 2;
}

.body-3 {
  grid-row: 2 / 4;
}

.body-6 {
  grid-column: 2 / -1;
}

.testi-carousel-img img {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  border: 2px solid #cca772;
}

.testi-body .testi-intro {
  padding-top: 2.4rem;
}

/* *********************** */
/* NEWS & EVENTS SECTION  */
/* *********************** */
.news-section {
  margin: 13rem 0;
  display: block;
}

.news-container {
  max-width: 114rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pb-80px {
  padding-bottom: 8rem;
}

.text-center {
  text-align: center !important;
}

.home-img {
  margin-bottom: 1.4rem;
}

.home-img .home-icon {
  vertical-align: center;
  border-style: none;
  font-size: 3.2rem;
  color: #cca772;
}

h2 {
  font-size: 4.2rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cca772;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 0;
}

.news-row {
  display: flex;
  width: 100%;
}

.sub-news-row {
  padding: 1.8rem;
}

.news-card {
  border: 0;
  border-radius: 0;
  box-shadow: 0 1rem 3rem 0 rgba(153, 153, 153, 0.2);
  transition: all 0.4s ease;
}

.news-card:hover {
  transform: scale(1.1);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.news-card-img {
  /* width: 100%; */
  position: relative;
  display: block;
  /* transition: all 0.4s; */
}

.news-card-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 83%);
  background: #fff;
  width: 100%;
  height: 19rem;
}

.news-card-img .card-img {
  padding-bottom: 1px;
  width: 100%;
}

.news-card .news-card-body {
  padding: 1.8rem 2rem 3.5rem 4rem;
  flex: 1 1 auto;
}

.card-news-title a:link,
.card-news-title a:visited {
  text-decoration: none;
  font-size: 2.4rem;
  margin: 1.2rem 0 1.8rem 0;
  font-weight: 700;
  font-family: "Plaayfair Display", serif;
  color: #0b1a2a;
}

.card-news-title a:hover,
.card-news-title a:active {
  color: #cca772;
  transition: 0.2s ease;
}

.card-new-link {
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #0b1a2a;
}

.card-new-link:hover {
  color: #cca772;
  transition: 0.2s ease;
}

/* .card-news-title a:link,
.card-news-title a:visited {
  display: inline-block;
  transition: color 0.2s ease;
} */

.card-new-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
  list-style: none;
}

.card-new-info li {
  display: inline-block;
  font-size: 1.4rem;
  color: #7b838a;
}

.card-new-info li a:link,
.card-new-info li a:visited {
  text-decoration: none;
  background-color: transparent;
}

.card-new-info li .news-icon {
  font-size: 1.2rem;
  color: #cca772;
  margin-right: 5px;
}

.news-card-body p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* *********************** */
/*CTA SECTION  */
/* *********************** */

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
  background-color: #f1eee9;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #0b1a2a, #0b1a2a);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #f1eee9;
}

.cta .heading-secondary {
  color: #f1eee9;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, rgb(235, 152, 78, 0.35), rgb(230, 126, 34, 0.35)), url("/img/parkinglot.webp");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #363a4b;
  border: none;
  background-color: #fdf2e9;
  /* border-radius: 9px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}

/* *********************** */
/* FOOTER SECTION  */
/* *********************** */
.footer-area {
  padding: 12rem 12rem;
  background-color: #0b1a2a;
  display: block;
}

.footer-container {
  max-width: 114rem;
}

.footer-row {
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-right: -1.5rem;
  margin-left: -1.5rem; */
}

.single-footer {
  /* position: relative; */
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-area .single-footer h4 {
  margin-bottom: 2.5rem;
  color: #fff;
  font-family: "Playfair Dislay", serif;
  letter-spacing: 0.75px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-top: 0;
}

.footer-area .single-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-area .single-footer ul li {
  margin-bottom: 1rem;
}

.footer-area .single-footer ul li a {
  color: #7b838a;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.footer-areaa .single-footer .form-wrap {
  margin-top: 2.5rem;
}

.form-inline {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.footer-area .single-footer input {
  height: 4.8rem;
  border: none;
  width: 67% !important;
  font-weight: 400;
  background: #363a4b;
  border-radius: 0;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem;
}

.form-inline .form-control {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.click-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  overflow: visible;
}

.footer-area .footer-bottom {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  justify-content: space-between;
}

.footer-area .footer-bottom p {
  color: #f1eee9;
  font-size: 1.6rem;
  word-spacing: 0.8px;
  line-height: 1.5;
}

.footer-area .footer-bottom .footer-text span {
  color: #cca772;
  font-weight: 600;
}

.text-lg-right {
  text-align: right !important;
}

.footer-area .footer-bottom .footer-social {
  display: flex;
  justify-content: end;
  gap: 2.4rem;
  font-size: 1.6rem;
  color: #f1eee9;
  cursor: pointer;
}
